@font-face {
    font-family: 'quintessential';
    src: url('./assets/quintessential-regular-webfont.woff2') format('woff2'),
         url('./assets/quintessential-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    --bg-color: #fcfcfc;
    --shadow-clr: rgba(82, 82, 82, 0.7);
    --view-height: 100vh;
    --fonts: Verdana, Helvetica, Arial, sans-serif;
    --green: #596D48;
}

html, body, .main-container {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

.main-container {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.side-image {
    position: sticky;
    top: 0px;
    background-image: url('./assets/kmr-bg.jpg');
    background-size: cover;
    height: var(--view-height);
    width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logo > img {
    height: 15vh;
    min-height: 5vw;
    opacity: 0.8;
    margin: 10px auto;
    margin-right: 5px;
    padding: 0;
}

.logo > p {
    font-size: min(800%, 4vw);
    margin: 10px auto;
    margin-left: 5px;
    padding: 0;
}

.logo {
    display: flex;
    font-family: 'quintessential';
    padding: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100%;
    height: 20vh;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-container {
    background-color: var(--bg-color);
    width: 100%;
    height: var(--view-height);
}

.form-container .info-text {
    margin-top: 100px;
    padding: 50px;
    font-family: var(--fonts);
    letter-spacing: -1px;
}


.main-form {
    background-color: white;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px var(--shadow-clr);
}

.main-form > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.main-form > .indicate-req {
    font-family: var(--fonts);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 auto 40px 20px;
}

.main-form-field {
    position: relative;
    margin: 20px;
}

.main-form-field > label {
    font-size: 10px;
    font-family: var(--fonts);
    letter-spacing: 2px;
    font-weight: 550;
    position: absolute;
    top: -15px;
}

.main-form-field > input {
    border: 2px solid #E5E7EB;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 40px;
}

.main-form-field > input:focus {
    border: 2px solid #6c8ac5;
    box-shadow: 2px 2px 5px var(--shadow-clr);
    outline: none;
}

.main-form-field > input:user-invalid {
    border: 2px solid #eb3c3c;
    outline: none;
}

.form-foot {
    padding: 40px 50px;
    font-family: var(--fonts);
}

.form-foot > input[type='submit'] {
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 0;
    font-size: 1em;
    font-weight: 800;
    color: white;
    background-color: var(--green);
}

.form-foot > input[type='submit']:hover,
.form-foot > input[type='submit']:focus {
    cursor: pointer;
    box-shadow: 0 0 5px var(--green);
    outline-offset: 2px;
    outline-color: var(--green);
}

.form-foot > p > a {
    font-weight: 900;
    color: var(--green);
    text-decoration: none;
}

.form-foot > p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}