@font-face {
    font-family: 'quintessential';
    src: url('./assets/quintessential-regular-webfont.woff2') format('woff2'),
         url('./assets/quintessential-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}


html {
    --text-white: #dadada;
    --bg-gradient: linear-gradient( 109.6deg, rgb(10, 10, 10), rgb(25, 25, 25));
    --bg-main: rgb(219,238,174);
    --shadow-clr: rgba(107, 107, 107, 0.7);
    --view-height: 100vh;
    --fonts: Verdana, Helvetica, Arial, sans-serif;
    --black: #252525a8;
    --red: #d13636;
}

html, body, .main-container {
    height: 100%;
    margin: 0;
    /* background-color: var(--bg-color); */
    background: var(--bg-main);
    background: var(--bg-gradient); 
}

.main-container {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.side-image {
    position: sticky;
    top: 0px;
    background-image: url('./assets/bg-img.jpg');
    background-size: cover;
    height: var(--view-height);
    width: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logo > img {
    width: 15vh;
    min-width: 4vw;
    opacity: 0.8;
    margin: 10px auto;
    margin-right: 5px;
    padding: 0;
}

.logo > p {
    font-size: min(800%, 4vw);
    font-style: italic;
    margin: 10px auto;
    margin-left: 5px;
    padding: 0;
}

.logo {
    display: flex;
    font-family: 'quintessential';
    padding: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100%;
    height: 20vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.side-image > span {
    font-style: oblique;
    color: var(--red);
    font-size: min(0.8vw, 16px);
    font-family: var(--fonts);
    position: absolute;
    opacity: 0.6;
    bottom: 1px;
}

.form-container {
    color: var(--text-white);
    width: 100%;
    height: var(--view-height);
}

.form-container .info-text {
    margin-top: 100px;
    padding: 50px;
    font-family: var(--fonts);
    letter-spacing: -1px;
}


.main-form {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px var(--shadow-clr);
    background: #00000075;
}

.main-form > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.main-form > .indicate-req {
    font-family: var(--fonts);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 auto 40px 20px;
}

.main-form-field {
    position: relative;
    margin: 20px;
}

.main-form-field > label {
    font-size: 11px;
    font-family: var(--fonts);
    letter-spacing: 2px;
    font-weight: 550;
    position: absolute;
    top: -18px;
}

.main-form-field > input {
    background-color: var(--black);
    color: var(--text-white);
    border: 0;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 40px;
}

.main-form-field > input:focus,
.main-form-field > input:hover {
    border: 1px solid var(--text-white);
    box-shadow: 2px 2px 5px var(--shadow-clr);
    outline: none;
}

.main-form-field > input:user-invalid {
    border: 1px solid var(--red);
    outline: none;
}

.form-foot {
    padding: 40px 50px;
    font-family: var(--fonts);
}

.form-foot > input[type='submit'] {
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 0;
    font-size: 1em;
    font-weight: 800;
    background-color: var(--red);
    font-weight: 900;
    color: var(--text-white);
}

.form-foot > input[type='submit']:hover,
.form-foot > input[type='submit']:focus {
    cursor: pointer;
    box-shadow: 0 0 25px var(--shadow-clr);
    outline: 1px solid var(--text-white);
    outline-offset: 2px;
}

.form-foot > input[type='submit']:active {
    outline: none;
}

.form-foot > p > a {
    font-weight: 900;
    color: var(--red);
    text-decoration: none;
}

.form-foot > p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .main-container {
        flex-wrap: wrap;
    }

    .side-image {
        position: static;
        width: 100vw;
        height: 20%
    }

    .side-image > span {
        visibility: hidden;
    } 

    .logo {
        position: sticky;
    }

    .logo > p {
        font-size: 3em;
    }

    .logo > img {
        height: 12vw;
        width: 12vw;
    }

    .form-container .info-text {
        margin-top: 10px;
    }
}