@font-face {
    font-family: 'odin';
    src: url('./assets/Norse-Bold.otf');
}

* {
    box-sizing: border-box;
}

html {
    --bg-color: #fcfcfc;
    --shadow-clr: rgba(82, 82, 82, 0.7);
    --view-height: 120vh;
    --fonts: Verdana, Helvetica, Arial, sans-serif;
}

html, body, .main-container {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

.main-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.side-image {
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    height: var(--view-height);
    width: 30%;
    /* min-width: 30%; */
    display: flex;
    justify-content: center;
    position: relative;
}

.logo > img {
    width: min(50%, 6vw);
    opacity: 0.8;
}

.logo > h1 {
    font-size: min(1000%, 8vw);
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    font-family: 'odin';
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100%;
    height: 12em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-container {
    background-color: var(--bg-color);
    width: 100%;
    height: var(--view-height);
}

.form-container .info-text {
    margin-top: 100px;
    padding: 50px;
    font-family: var(--fonts);
    letter-spacing: -1px;
}


.main-form {
    background-color: white;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px var(--shadow-clr);
}

.main-form > div {
    display: flex;
    gap: 30px;
}

.main-form > .indicate-req {
    font-family: var(--fonts);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 auto 40px 20px;
}

.main-form-field {
    position: relative;
    margin: 20px;
}

.main-form-field > label {
    font-size: 10px;
    font-family: var(--fonts);
    letter-spacing: 2px;
    font-weight: 550;
    position: absolute;
    top: -15px;
}

.main-form-field > input {
    border: 2px solid #E5E7EB;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 40px;
}

.main-form-field > input:focus {
    border: 2px solid #6c8ac5;
    box-shadow: 2px 2px 5px var(--shadow-clr);
    outline: none;
}

.main-form-field > input:user-invalid {
    border: 2px solid #eb3c3c;
    outline: none;
}

